*{
	
	box-sizing: border-box;
}
.content{
	margin:0 auto;
}
.containerr{

	width: 252px;
	margin : 50px auto 0;
	
	
}
.visage{

	position: relative;
	z-index: 1;
}
.yeux,.nez,.bouche{

	position: absolute;
	z-index: 3;
}

.yeux{

	top:50px;
	right: 119px;
}

.nez{

	top:48px;
	right: 118px;
}

.bouche{

	top:49px;
	right: 115px;
}

img{

	height: auto;
	width: 250px;
}
.formsave{position: absolute;
    top: 300px;
    left: 350px;
    margin-top: 40px;
}
.firstColumn{
	display: inline-block;
    width: 202px;
    line-height: 35px;
}
.secondColumn{
	display: inline-block;
    width: 202px;
    line-height: 35px;
}
.divBorder{
	border: solid 1px black;
}
.buttonCheck{
	width: 177px;
	border: solid 2px black;
}
label{
	width: 33px;
	display: block;
}
section{
	height: 339px;
}
#labelName{
	margin-left: 15px;
	text-transform: uppercase;
}
.labelAttr{
	text-transform: uppercase;
	margin-bottom: -12px;
}
input[name="nom"]{
	width: 377px;
	border: solid 2px black;
}
select{
	border: solid 2px black;
}
#title{
	text-align: center;
}
